<%= form_for(property) do  |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <td><%= message %></td>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rent%>
    <%= form.number_field :rent %>
  </div>

  <div class="field">
    <%= form.label :address%>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :year%>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_area :remarks %>
  </div>

<h3>Nearest stations</h3>
<span>(if you submit a station without full information it will be removed)<span>
<br>
<br>
<%= form.fields_for :stations do |station| %>
    <tr>
      <td><%= station.label :line %></td>
      <td><%= station.text_field :line %></td>
      <td><%= station.label :name %></td>
      <td><%= station.text_field :name %></td>
      <td><%= station.label :minutes %></td>
      <td><%= station.number_field :minutes %></td>
    </tr><br><br>
<% end %>
  <br>
  <br>
  <div class="actions">
    <%= form.submit "Save" %>
  </div>
  <br>
  <br>
<% end %>
