<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>year:</strong>
  <%= @property.year %>
</p>

<p>
  <strong>remarks:</strong>
  <%= @property.remarks %>
</p>

<%if @property.stations.present?%>
    <h2>Nearest station/s</h2>
<%end%>

<% s = 0 %>

<% @property.stations.each do |station|%>
  <%if station.line.blank? && station.name.blank? && station.minutes.blank? %>
    <h4>Click edit to add a station</h4>
  <% else %>
    <h4>Station <%= s += 1 %></h4>
    <tr>
      <td>
          <strong>line:</strong>
          <%= station.line %>
      </td>

      <td>
          <strong>name:</strong>
          <%= station.name %>
      </td>

      <td>
          <strong>minutes:</strong>
          <%= station.minutes %>
      </td>
    </tr>
  <% end %>
<% end %>
<br>
<br>
<%= link_to 'edit', edit_property_path %> |
<%= link_to 'back', properties_path %>
